* {
  margin: 0;
  padding: 0;
}
:root{
  --color: rgba(250, 235, 215, 0.822);
}

body {
  background-color: rgb(168, 163, 163);
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
nav {
  margin: auto;
  
  background-color: var(--color);
  padding: 20px;
  border-radius: 5px;
}
ul {
  list-style: none;
  && li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125rem;
    text-align: center;
    && a {
      display: inline-block;
      width: 70px;
      text-decoration: none;
      color: var(--dark);
      padding: 15px 60px;
    }
  }
  && li:not(:first-child) {
    margin-top: 30px;
  }
}
a:hover {
  background-color: white;
  border-radius: 5px;
}
.face-image {
  border-radius: 50%;
  height: 200px;
  width:200px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  box-sizing: border-box;
  background-color: var(--color);
  max-width: 70%;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125rem;
  color: var(--dark);
  position: relative;
  && p{
    font-size: 1.125rem;
  }
}
.about {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 25px;
}
hr {
  margin-bottom: 25px;
  border-color: rgba(0, 0, 0, 0.144);
}
#return {
  position: absolute;
  display: block;
  border-radius: 5px;
  padding: 10px;
  right: 40px;
  top: 20px;
  text-decoration: none;
  color: var(--dark);
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
#return:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}